@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap');
@import "tailwindcss";
:root {
  font-family: 'Roboto', sans-serif;
  line-height: 1.5;
  font-weight: 400;
}
